html,
body {
  padding: 0;
  margin: 0;
  background-color: #fffcf1;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/*@media (max-width: 888px) {*/
/*  .header-title{*/
/*    display: none;*/
/*  }*/
/*}*/

/*.hero::before {*/
/*  box-sizing: border-box;*/
/*  z-index: 1;*/
/*  content: '';*/
/*  position: absolute;*/
/*  border: 1000px solid transparent;*/
/*  border-left: 50vw solid #9d4045;*/
/*  border-top: 70vh solid #9d4045;*/
/*  top: 0;*/
/*  left: 0;*/
/*}*/

.header-link{
  font-size: 20px;
}


.step-body{
  position: relative;
  width: 100%;
  margin-left: 150px;
}

.step-number{
  position: absolute;
  top: 0;
  left: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #cc9a97;
  color: #000;
}


.section-title{
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.cake-btn{
  background: #ecd0c1;
  color: white;
  border-color:#fff
}

.shadow:hover{
  box-shadow: 2px 2px #c4c4c4, 4px 4px #a55252
}

.ability-card{
  height: 500px;
  border-radius: 10px;
  border: 1px solid #a55252;
  padding:20px;
  transition: .2s linear

}

.ability-img{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
